@using FinanceTracker.ViewModel
@model List<UserViewModel>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <form action="/submit" method="post">
        <td><input type="text" name="name"></td>
        <td><input type="email" name="email"></td>
        <td><input type="submit" value="Submit"></td>
        </form>
    </tr>
    <tr>
        <form action="/submit" method="post">
        <td><input type="text" name="name"></td>
        <td><input type="email" name="email"></td>
        <td><input type="submit" value="Submit"></td>
        </form>
    </tr>
    <tr>
        <form action="/submit" method="post">
        <td><input type="text" name="name"></td>
        <td><input type="email" name="email"></td>
        <td><input type="submit" value="Submit"></td>
        </form>
    </tr>
    <tr>
        <form action="/submit" method="post">
        <td><input type="text" name="name"></td>
        <td><input type="email" name="email"></td>
        <td><input type="submit" value="Submit"></td>
        </form>
    </tr>
    <tr>
        <form action="/submit" method="post">
        <td><input type="text" name="name"></td>
        <td><input type="email" name="email"></td>
        <td><input type="submit" value="Submit"></td>
        </form>
    </tr>
    <!-- Repeat the form for each row as needed -->
</table>