@using FinanceTracker.ViewModel
@model List<UserViewModel>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model)
    {
        
    <tr>
        <form asp-controller="UserManagement" asp-action="Edit">
            <td><input type="text" name="UserName" value=@user.UserName></td>
            <td><input type="email" name="Email" value=@user.Email></td>
        <td><input type="submit" value="Submit"></td>
            <td><input type="hidden" name="CustomerId" value = @user.CustomerId /></td>
        </form>
    </tr>
    }
    
    <!-- Repeat the form for each row as needed -->
</table>