@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims
@using FinanceTracker.Models.Enums
@using FinanceTracker.ViewModel

@model FinanceTrackerIndexViewModel

@{
    var transactions = Model?.transactionListItems.OrderBy(t => t.TimeStamp);
    var labels = transactions?.Select(transaction => transaction.TimeStamp.ToShortDateString());
    var transactionAmount = transactions?.Select(transaction => transaction.Amount);
}


@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome @User.FindFirst("userName").Value
    </h1>
    var adminString = Enum.GetName(typeof(Role), Role.admin)!;
    var userString = Enum.GetName(typeof(Role), Role.user)!;
    @if (User.FindFirst(ClaimTypes.Role).Value == adminString || User.FindFirst(ClaimTypes.Role).Value == userString)
    {
        <div>
            <canvas id="myChart"></canvas>
        </div>
    }
    else
    {
      <h1>You are visiting with an visitor account which have no access to the Finance Compass, please upgrade your plan</h1>
    }



}
else
{
    <h1>hello, Please log in first</h1>
}



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/chart441.js"></script>
<script >


        
    
    const ctx = document.getElementById('myChart');

    const data = {
        labels: @Html.Raw(Json.Serialize(labels)),
        datasets: [
            {
                label: 'Transactions',
                data: @Html.Raw(Json.Serialize(transactionAmount)),
                borderColor: "blue",
                backgroundColor: "yellow",
            }
            // {
            //     label: 'Dataset 2',
            //     data: [4,5,2],
            //     borderColor: "blue",
            //     backgroundColor: "blue",
            // }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Transaction Trend'
                }
            }
        },
    };
   
    new Chart(ctx,config)

 
    
</script>
