@using FinanceTracker.ViewModel
@model TransactionCreateFormViewModel




    

    <form asp-controller="FinanceManager" asp-action="Create" method="post">

        <div class="form-group">
            <div class="form-row">
                <div class="form-group ">

                    <label asp-for="amount">Amount:</label>
                    <input asp-for="amount" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="description">Description</label>
                    <textarea asp-for="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>
            <label>Choose a category</label>

            <select class="form-control" asp-for="CategoryId" asp-items="Model.selectListItems">
            </select>
            <label asp-for="TimeStamp">Time</label>

            <input asp-for="TimeStamp" />

        </div>
        <button type="submit" class="btn btn-primary">Create Transaction</button>
    </form>
